obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/netcoreapp2.1/WashingMachine.AssemblyInfo.cs
obj/Debug/netcoreapp2.1/WashingMachine.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.1/WashingMachine.Program.cs
obj/Debug/netcoreapp2.1/WashingMachine.csproj.CoreCompileInputs.cache
obj/WashingMachine.csproj.nuget.cache
obj/WashingMachine.csproj.nuget.g.props
obj/WashingMachine.csproj.nuget.g.targets
obj/project.assets.json
.vscode/tasks.json
.vscode/launch.json
bin/Debug/netcoreapp2.1/WashingMachine.pdb
bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
bin/Debug/netcoreapp2.1/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
bin/Debug/netcoreapp2.1/WashingMachine.dll
bin/Debug/netcoreapp2.1/WashingMachine.deps.json
bin/Debug/netcoreapp2.1/WashingMachine.runtimeconfig.json
bin/Debug/netcoreapp2.1/WashingMachine.runtimeconfig.dev.json
obj/WashingMachine.csproj.dotnetwatch.g.targets
obj/Debug/netcoreapp2.1/WashingMachine.dll
obj/Debug/netcoreapp2.1/WashingMachine.pdb
obj/Debug/netcoreapp2.1/WashingMachine.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/WashingMachine.csprojResolveAssemblyReference.cache
